$main-color: #333333;
$logo-bg-color: #f3e9f1;
$button-color: #6219ff;
$main-spacing: 0.1rem;
$price-color: #b55c03;

* {
    box-sizing: border-box;
    color: $main-color;
    margin: 0;
    padding: 0;
}

/*NAVIGATION*/
.navbar {
    position: sticky;
    top: 0;
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    background: $logo-bg-color;
    z-index: 1;
    .navbar-center {
        width: 100%;
        max-width: 1170px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 1.5rem;
        .nav-icon {
            font-size: 1.5rem;
        }
        .basket-icon {
            position: relative;
            cursor: pointer;
            .number-of-basket-items {
                position: absolute;
                top: -8px;
                right: -8px;
                background: $button-color;
                padding: 0 5px;
                border-radius: 50%;
                color: $logo-bg-color;
            }
        }
    }
}

/*END OF NAVIGATION*/

.shop-item-title {
    text-transform: capitalize;
    font-size: 1.1rem;
    margin-top: 1rem;
    letter-spacing: $main-spacing;
    text-align: center;
}
.shop-item-price {
    margin-top: 0.7rem;
    letter-spacing: $main-spacing;
    color: $price-color;
    text-align: center;
}

/*LIST OF PRODUCTS*/
.products {
    padding: 4rem 0;
    .products-center {
        width: 90vw;
        margin: 0 auto;
        max-width: 1170px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    }
}

.section-title {
    h2 {
        text-align: center;
        font-size: 2.5rem;
        margin-bottom: 5rem;
        text-transform: capitalize;
        letter-spacing: $main-spacing;
    }
}

.product {
    .img-container {
        position: relative;
        overflow: hidden;
        .product-image {
            display: block;
            width: 100%;
            min-height: 12rem;
            transition: all 0.3 linear;
        }
        .bag-btn {
            position: absolute;
            top: 70%;
            right: 0;
            background: $button-color;
            border: none;
            text-transform: uppercase;
            padding: 0.5rem 0.75rem;
            letter-spacing: $main-spacing;
            font-weight: bold;
            transition: all 0.3 linear;
            transform: translateX(101%);
            cursor: pointer;
            .fa-eye {
                margin-right: 0.5rem;
            }
            &:hover {
                color: $logo-bg-color;
            }
        }
    }
}

.img-container:hover {
    .bag-btn {
        transform: translateX(0);
    }
    .product-image {
        opacity: 0.5;
    }
}
/*END OF LIST ITEMS*/

body {
    text-align: center;
}

@media (min-width: 768px) {
    main {
    display: flex;
    justify-content: space-around;
    }
}

button {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

footer {
    ul {
        padding: 0;
        list-style: none;
        @media (min-width: 768px) {
            display: flex;
            justify-content: flex-end;
            li {
                padding: 0 15px;
                text-align: right;
            }
        }
    }
}

@media (min-width: 768px) {
    .shop-item {
        display: flex;
        .shop-item-details {
            text-align: left;
        }
    }    
}

.basket-items {
    text-align: left;
    .basket-row {
        display: flex;
    }
    .basket-column {
        padding-right: 3em;
    }
}

input {
    display: block;
}